*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: sans-serif;
}
.container-1{
    display: flex;
    height: 48px;
    background: #221d19;
    width: 100%;
    font: 16px Roboto,sans-serif;
    color: #212529;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    list-style: none;
    padding: 5px 25px;
    width: 50%;
    height: 24px;
    font: 16px Roboto,sans-serif;
   
}
.left small a{
    text-decoration: none;
    color: white;
    top: 10px;
    margin: 5x;
    letter-spacing: 1px;
    margin-top: 12px;
    font: 14px Roboto,sans-serif;
    cursor: pointer;
}
.right-1{
    color: #f5fdeb;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.right-1 p {
    right: 0;
    color: white;
    margin: 0;
}
.follow{
    padding: 0 25px;
    letter-spacing: 15px;
    color: #EAA636;
    cursor: pointer;
}
header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    transition: 0.9s;
}
header .logo {
    color: #EAA636;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu a {
    font: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin: 0 40px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
    background: rgba(0,0,0,0.0.1);
}
header .menu a:hover{
    color: #EAA636;
    background-color: #fff;
}
header.sticky {
    background: #221d19;
    color: #212529;
    top: 0;
    left: 0;
    padding: 10px 100px;
}
header .btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("image/carousel-1.jpg") no-repeat;
    background-color: linear-gradient(rgba(0,0,0,0.9) rgba(0,0,0,0.9));
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-position: center;
    color: linear-gradient(rgba(0,0,0,0.9) rgba(0,0,0,0.9));
    background-size:cover ;
    display: flex;
    align-items: center;
    opacity: 5;
}
.section-main h1 {
    font: 90px "Playfair Display",serif;
    font-weight: 900;
    color: #F5FDEB !important;
    margin: 10% 15%;
    line-height: 1.2;
    text-decoration: double;
    left: 20%;
    top: 50%;
}
.section-main p {
    position: absolute;
    top: 70%;
    left: 16%;
    font: 20px Roboto,sans-serif;
    color:#F5FDEB !important;
}
.btn-3 {
    position: absolute;
    background-color: #EAA636;
    padding: 15px 40px;
    height: 60px;
    margin: 10px 0;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font: 16px Roboto,sans-serif;
    color: #F5FDEB;
    border: none;
    top: 75%;
    left: 15%;
    
}


/* facts start */


.extra {
    align-items: center;
    justify-content: center;
}

.containor-1{
    display: flex;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 60px 60px 0px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
.experience{
      background-color: #F5FDEB !important;
      padding: 48px;
      width: 260px;
      height: 273px;
      margin-left: 30px;
      border-radius: 10px;
      cursor: pointer;
      transition: .5s;
    
  }
.number-containor{
    color: #EAA636;
    margin-top: 8px;
  }

.year{
    font: 17px Roboto,sans-serif;
  }
.number1{
    
    font:  48px "Playfair Display",serif;
    font-weight: 700;
    color: #1E1916;
  }
.extra{
    padding: 96px 12px;
  }
 div.experience:hover {
    transform: scale(1.1);
    background: #fff;
    border: 1px solid #F5FDEB;
  }


 /*box start*/

 .box {
     height: 200px;
     width: 80%;
     margin-top: 200px;
     background-color: #eaa636;
     color: aliceblue;
     margin-left : 150px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .right_box{
     height: 150px;
     width: 50%;
     padding-top: 25px;
     padding-left: 25px;
     padding-bottom: 25px;
 }
 .left_box{
     height: 150px;
     width: 50%;
 }
 .hade{
     font-size: 50px;
     margin-bottom: 5px;
 
 }
 .fa-div{
     position: relative;
     bottom: 15px;
     margin-left: 55px;
     font-size: 50px;
     margin-top: 60px;
     
 }
 
 .para_1 { 
     position: relative;
     bottom: 70px;
     right: 70px;
     color: #fdf5eb;
     font-family: roboto,sans-serif;
     font-size: 20px;
     font-weight: bolder;
 }
 .para_2{
     position: relative;
     bottom: 70px;
     color: #fdf5eb;
     font-family:  roboto, sans-serif;
     font-size: 35px;
 }
 /* box end */

 /* about start */
 .maincontainer{
    display: flex;
    width: 100%;
   max-height: 657.59px;
   margin-top: 10%;
}
.man-1 {
    width: 50%;
    height: 465.59px;
    margin: 48px 0px 0px ;
    padding-left: 30px;
}
.picture {
    width: 30%;
    height: 30%;
    display: flex;
}
.img-1 {
    width: 255px;
    height: 318px;
    border-radius: 10px;
}
.img-1-1 {
    width: 255px;
    height: 318px;
    margin: 100px 20px;
    border-radius: 10px;
}
.textabout {
    display: flex;
    width: 50%;
    height: 465.59px;
    margin: 48px 0 ;
    padding: 30px;
   font-size: larger;
    line-height: 40px;

}
.head h5 {
    color: #EAA636;
}
.head h1 {
    margin: 10px 0px;
    font: 40px "Playfair Display",serif;
    line-height: 50px;
    font-weight: 800;
} 
.btn-1{
    color: #fff;
    background-color: rgb(213, 115, 45) ;
    border-radius: 20px;
    /* padding-right: 30px; */
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    position: absolute;
    font-weight: 500;

  
    
} 
 .btn-1 :hover{
background-color: rgb(213, 115, 45) ;
}   
 
h3{
    text-align: center;
    margin: 0;
    padding-top: 10;
    font-size: 30px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content{
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22.);
    transition: .4s;
    background: #f2f2f2;
    opacity: 1;
    transition: 0.6s;
}
.content:hover{
    box-shadow: 0 3px 6px #eaa636,
    0 3px 6px rgba(241, 109, 14, 0.637);
    opacity: 1;
}
.content >*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content:hover >*{
    transform: translateY(0px);
    color: #eaa636;
    
}
.img_3{
    width: 100%;
    height: 284px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.txt-p{
    text-align: center;
    padding-top: 0 8px;
    color: #b2bec3;
}
h6{
    font-size: 25px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.con{
    text-align: center;
    margin-top: 125px;
    color: #eaa636;
    font:16px roboto,sans-serif;
}
.heading{
    text-align: center;
    font-size: 50px;
}
 
  /* footer start */
  .footer{
    background: #1E1916;
     padding: 70px 0;
}

.row{
    max-width: 1170px;
    margin: auto;

}
.ul-1 {
    list-style: none;
    padding: 0;
}
.row-1 {
    display: flex;
    flex-wrap: wrap;
}
.addres-1 {
    width: 25%;
    padding: 0 10px;
}
.addres-1 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.addres-1 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.ul-1 li:not(:last-child) {
   margin-bottom: 10px;
}
.ul-1 li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.ul-1 li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.9s ease;
}
.social-links  :hover {
    background-color: #ffffff;
    color:#24262b;
}







@media (max-width: 1060px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
      /* header start */
    .container-1{
        display: none;
    }
    header {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        transition: 0.9s;
    }
    header .logo {
        color: #EAA636;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }
    header .btn{
        display: block;
    }
    header .menu {
        position: fixed;
        background: #EAA636;
        flex-direction: column;
        min-width: 300px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;

    }
    header .menu.active {
        right: 0;
    }
    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
    header.sticky {
        padding: 0 50px;
    }
    /* facts start */

    .containor-1{
        flex-direction: column;
    }
    .experience{
        max-width: 100%;
        height: 50%;
        margin: 10% 0;
        text-align: center;
        
      
    }
    /* box start */
    .box {
        height: 150px;
        width: 80%;
        margin-top: 200px;
        background-color: #eaa636;
        color: aliceblue;
        margin-left : 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right_box{
        height: 100px;
        width: 50%;
        padding-top: 10px;
        padding-left: 25px;
    }
    .left_box{
        height: 100px;
        width: 50%;
    }
    .hade{
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 10px;
    }
    .fa-div{
        position: relative;
        bottom: 0;
        top: 20px;
        margin-left: 0;
        font-size: 25px;
        margin-top: 0;
        
    }
    
    .para_1 { 
        position: relative;
        bottom: 0;
        right: 0;
        top: 25px;
        color: #fdf5eb;
        font-family: roboto,sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }
    .para_2{
        position: relative;
        bottom: 10px;
        top: 10px;
        color: #fdf5eb;
        font-family:  roboto, sans-serif;
        font-size: 18px;
    }
    .maincontainer{
        display: flex;
        width: 100%;
       max-height: 657.59px;
       margin-top: 20%;
    }
    .man-1 {
        width: 50%;
        height:300px;
        margin: 0;
        
    }
    .img-1 {
        width: 150%;
        height: 40vh;
        border-radius: 10px;
        
    }
    .img-1-1 {
        width: 150%;
        height: 40vh;
        margin: 80px 20px;
        border-radius: 10px;
    }
    .textabout {
        height: 300px;
        width: 50%;
        margin: 0 ;
        padding: 0;
       font-size: larger;
        line-height: 25px;
    
    }
    .con {
        margin-top: 50%;
    }
   
    .textabout h5 {
        color: #EAA636;
    }
    .textabout h1 {
        margin: 10px 0px;
        font: 30px "Playfair Display",serif;
        line-height: 30px;
        font-weight: 800;
    } 
    
      .btn-1{
        color: #fff;
        background-color: rgb(213, 115, 45) ;
        border-radius: 20px;
        /* padding-right: 30px; */
        width: 120px;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        transition: 0.3s ease;
        position: absolute;
        font-weight: 500;
    } 
    .addres-1 {
        width: 50%;
        margin-bottom: 30px;
    }
    
    
}

@media (max-width:730px) {
    header .menu {
        min-width: 200px;
    }
    .section-main p {
        font: 16px Roboto,sans-serif;
        
    }
    .section-main h1 {
        font: 70px "Playfair Display",serif;
    }
    .section-main button {
        position: absolute;
        background-color: #EAA636;
        padding: 15px 40px;
        height: 50px;
        margin: 20px 0;
        color: white;
        cursor: pointer;
        border-radius: 25px;
        font: 16px Roboto,sans-serif;
        color: #F5FDEB;
        border: none;
        top: 75%;
        left: 15%;
    }
    .para_1 { 
        position: relative;
        bottom: 0;
        right: 0;
        top: 25px;
        color: #fdf5eb;
        font-family: roboto,sans-serif;
        font-size: 10px;
        font-weight: bolder;
    }
    .para_2{
        position: relative;
        bottom: 10px;
        top: 10px;
        color: #fdf5eb;
        font-family:  roboto, sans-serif;
        font-size: 12px;
    }
    .maincontainer {
        flex-direction: column;

    }
    .man-1 {
        width: 100%;
        height:300px;
        margin: 0;
        
    }
    .textabout {
        height: 218px;
        width: 100%;
        margin-top: 200px ;
        padding: 0;
       font-size: larger;
        line-height: 25px;
        text-align: center;
    
    }
    .maincontainer {
        flex-direction: column;

    }
    
    .containor-1{
        flex-direction: column;
    }
    .experience{
        width: 100%;
        height: 273px;
        margin-top: 10%;
      
    }
    .box {
        height: 150px;
        width: 80%;
        margin-top: 200px;
        background-color: #eaa636;
        color: aliceblue;
        margin-left : 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}